[submodule "external/allolib"]
	path = external/allolib
	url = https://github.com/AlloSphere-Research-Group/allolib.git
[submodule "tinc-python"]
	path = tinc-python
	url = https://github.com/AlloSphere-Research-Group/tinc-python.git
[submodule "external/al_ext"]
	path = external/al_ext
	url = https://github.com/AlloSphere-Research-Group/al_ext
[submodule "external/netcdf-c"]
	path = external/netcdf-c
	url = https://github.com/Unidata/netcdf-c.git
